<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
{{.Fall.Term}}<br>
{{range .Fall.Course}}
{{.Number}} - {{.Name}} - {{.Units}}<br>
{{end}}

{{.Spring.Term}}<br>
{{range .Spring.Course}}
    {{.Number}} - {{.Name}} - {{.Units}}<br>
{{end}}

</body>
</html>